[Desktop Entry]
Type=Application
Name=Mupen64+
Comment=Mupen64+ Nintendo 64 Emulator
Exec=desktop-launch bin/m64py
Icon=images/Mupen64plus.svg
Terminal=false
Categories=Game;Emulator;